{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Mert's Blog</h1>
          <span class="subheading">A collection of random musings.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
      {% endwith %}
      <!-- Post preview-->
      {% for post in all_posts %}
      <div class="post-preview">
        <a style="text-decoration: none" href="{{ url_for('routes.view_post', post_id=post.id) }}">
          <h2 class="post-title">{{ post.title }}</h2>
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
          {% if post.summary %}
              <div class="post-summary">
                <strong> Summary: </strong> {{ post.summary }}
              </div>
          {% endif %}
        </a>
        <p class="post-meta">
          Posted by
          <a href={{ url_for('routes.profile_page', user_id=post.author.id) }}>{{ post.author["username"] }}</a>
          on {{post.date}}
          <!-- Only show delete button if user id is 1 (admin user) -->
          {% if current_user.role == "admin" %}
            <a href="{{url_for('routes.delete_post', post_id=post.id) }}">✘</a>
          {% endif %}
        </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- New Post -->
      {% if current_user.role == "admin" %}
          <div class="d-flex justify-content-end mb-4">
            <a
              class="btn btn-primary float-right"
              href="{{url_for('routes.add_new_post')}}"
              >Create New Post</a
            >
          </div>
      {% endif %}
      <!-- Pager-->
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-secondary text-uppercase" href="#!">Older Posts →</a>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}
